@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.App {
  background-color: #091622;
  background-image: url(/src/Components/Images/background1.png);
  /* url(/src/Components/Images/background2.png); */
  background-position: 0, 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-size: cover;
  min-height: 100vh;
}
.logo1 {
  max-width: 200px;
  margin-left: -35px;
  margin-top: -64px;
}
/* .gapping {
  margin-left: 82px;
} */
.row .navstyle {
  margin-top: -44px;
}
.stak-button.active {
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(255, 161, 51) 0%, rgb(121, 2, 82) 100%) repeat
    scroll 0% 0%;
}


.active{
  border-radius: 100px;
  background:#191015 ;
  border: 2px solid #F1B80B;
}


.stak1 {
  padding: 5px 32px;
  border-radius: 100px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  gap: 0px;
  color: rgb(255, 255, 255);
  /* opacity: 0.6; */
  transition: all 0.6s ease 0s;
  position: relative;
  /* max-width: 420px; */
  min-width: 350px;
  border: 2px solid white !important;
  background-color: rgb(11, 5, 24);
}
.d-flex {
  padding: 0px 20px;
} 
.nav-background {
  border: 1px solid #F1B80B;
  border-radius: 25px;
}
.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0px;
  /* margin:47px; */
  border-radius: 100px;
  /* background-color: rgb(11, 5, 24); */
}


.btn {
  padding: 15px 31px !important;
  border-radius: 100px !important;
  
    background: #191015 !important;
    border: 2px solid #F1B80B !important;
}
.btn:hover{
  background: #F1B80B !important;
}

.footer {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: auto;
  font-family: "roboto";
}

.stak-button {
  border-radius: 100px 100px 100px 100px !important;
  /* padding: 1rem !important; */
  position: absolute;
  left: 0;
  height: 52px;
  /* padding: 0.7rem; */
}

.nav-pills .nav-link.active {
  background-color: transparent !important;
}
@media screen and (max-width: 375px) {
  .stak1 {
    padding: none;
  }
  .text-center.nav-link {
    padding-left: 93px !important;
}
  .d-flex {
    padding: 0px 0px;
  }
  img.img-logo {
    width: 20px;
  }
}

@media screen and (max-width: 912px) {
  .logo1 {
    display: block;
    margin: auto;
    margin-top: -70px;
  }
  .stak1 {
    display: block;
    margin: auto;
  }
  .btn {
    display: block;
    margin: auto;
  }
  .gapping {
    margin-left: 0px;
  }
  a.text-center.nav-link {
    padding-left: 160px;
  }
}

@media screen and (max-width: 480px) {
  .d-flex {
    padding: 0px 0px;
  }
  img.img-logo {
    width: 20px;
  }
  a.text-center.nav-link {
    padding-left: 118px;
    font-size: 12px;
}
}
a.nav-link.active{
  color:white !important;
}
.nav-pills .nav-link{
  color:white !important;
}
.connect-wallet1{
  float: right;
}
@media screen and (max-width:750px) {
  .connect-wallet1{
    
    text-align: center
  }
  .connect-wallet1{
    float: none ;
  }
  #connect1{
    margin: 2rem auto !important;
    text-align: center;
  }

}
@media screen and (max-width: 820px){
  .logo1{
    margin-top: -50px;
  }
}